/* Asterick wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "", ;
}
/* General Styles */

body {
    background-color: cornflowerblue;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* generic project styles */
    color:beige;
}


header {
    background-color: bisque;
}



main {
    background-color: darkgray;
    flex: 1 0 auto;
}